.cartcontainer{
    margin: auto;
    margin-top: 2px;
    /* width: 70%; */
    /* height: 15%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart hr{
    width: 95%;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.cart h1{
    margin-top: 30px;
}
.headtitle{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    color: palevioletred;
}
.totalprice{
    font-size: 20px;
    color: palevioletred;
}
.Cart-Items{
    margin: auto;
    width: 70%;
    height: 30%;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
}
.image-box{
    width: 15%;
    text-align: center;
    /* border-radius: 5px; */
    
}
.about{
    height: 100%;
    margin-left: -400px;
}
.title{
    padding-top: 1px;
    line-height: 1px;
    font-size: 32px;
    color: darkblue;
    margin-bottom: 30px;
}
.subtitle{
    line-height: 10px;
    font-size: 18px;
    color: palevioletred;
    margin-bottom: 20px;
}
.counter{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.counterbtn{
    width: 40px;
    height: 40px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.count{
    font-size: 20px;
    color: palevioletred;
}
.prices{
    height: 100%;
    text-align: right;
    padding-right: 10px;
}
.amount{
    /* padding-top: 10px; */
    font-size: 26px;
    color: darkblue;
    margin-bottom: 20px;
}
.off{
    text-decoration-line: line-through;
    font-size: 15px; 
}
.save{
    padding-top: 1px;
    font-size: 14px;
    color: palevioletred;
}
.remove{
    padding-top: 15px;
    font-size: 14px;
    color: palevioletred;
    cursor: pointer;
    text-decoration: none;
    
}
.remove :hover{
    color: darkblue;
}
.placebtn{
    margin-top: 10px;
    margin-bottom: 30px;
    height: 45px;
    margin-left: 600px;
    color: white;
    background-color:darkblue;
    border-radius: 5px;
    width: 250px;
}