.Footer{
    text-align: center;
    padding-top: 20px;
    height: auto;
    padding-bottom: 5px;
    margin-top: 50px;
    background-color: #f4f4f4;
}
.Footer img{
    width: 15%;
    height: 15%;
}