
.logo img{
    width: 180px;
    padding-left: 70px;
}
.logo{
    display: flex;
}
.liblogo{
    color: darkblue;
    cursor: pointer;
}
.logoname{
    color: darkblue;
    cursor: pointer;
}
ol, ul { list-style: none; }
.Header{
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color:rgb(245, 239, 231);
}
.nav-wrapper{
    flex: 1;
    /* display: block; */
    align-items: center;
}
.top-right-bar { 
    display: flex; 
    align-items: center; 
    margin-bottom: 18px; 
    justify-content: flex-end; 
    padding-right: 50px;
    
}
ul{
    display: flex;
    align-items: center;
    padding-left: 15px;
    text-decoration: none;
    
}
li{margin-top: 10px;
    position: relative;
    font-size: 25px;
    padding-left: 10px;
    color:darkblue;
    
    
}
.site-header .site-header-wrapper .header-wrapper .nav-wrapper ul li { width: auto; padding: 0; }

.logintitle{
    cursor: pointer;
    /* margin-top: 15px; */
    font-size: 25px;
    text-decoration: none;
    color:darkblue;
    
}
.cart-link{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}
.registertitle{
    cursor: pointer;
    
}
