.search{
    margin-top: 15px;
    padding: 30px;
    background-color: #f4f4f4;
}
.header-search{
    /* flex: 1; */
    /* width: 40%; */
    /* margin: 0 auto; */
    width: 100%;
    margin-left: 370px;

    display: flex;
    background-color: #f4f4f4;
    /* max-width: 700px; */
}

.placeholder{
    width: 500px; 
    padding-left: 40px;
    padding-right:100px;
    background-color:white;
    border-radius: 5px;
    border: 3px solid darkblue;
}
/* button{
    width: 250px; 
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    border: 0;
    border-radius: 5px;
    
    padding: 10px;
    cursor: pointer;
} */

.btn1 img{
    padding-right: 5px;
}
.btn1{
    /* flex: 1; */
    /* margin: 0 auto; */
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    text-align: center;
    background-color: darkblue;
    padding-left: 60px;
    padding-right: 20px;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    border: 0;
    border-radius: 5px;
    width:120px;
    padding: 10px;
    cursor: pointer;
    
}
.btn2{
    background-color:darkblue;
    width: 250px;
    padding-left: 30px;
    padding-right: 30px;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    border: 0;
    border-radius: 5px;
    width:120px;
    padding: 10px;
    cursor: pointer;
}